<main class="page-container">
    <div class="container">
        <h1 class="title">Analyse des indicateurs du logement social</h1>

        <div class="search-container">
            <div class="search">
                <input placeholder="Recherche" />
            </div>
        </div>

        <div class="content-layout">
            <div class="left-card">
                <div class="menu-title">Contenue</div>
                <ul>
                    <li>Indicateurs démographiques</li>
                    <li>Indicateurs socio-économiques</li>
                    <li class="separator"></li>
                    <li>Indicateurs liés au logement / habitat</li>
                </ul>
            </div>

            <div class="graph-area">
                <!-- zone principale pour les graphiques -->
            </div>
        </div>
    </div>
</main>