

<main class="page-container">
  <div class="container">
    <h1 class="title">Analyse des indicateurs du logement social</h1>

    <div class="search-container">
      <div class="search">
        <input placeholder="Recherche" />
      </div>
    </div>

    <div class="content-layout">
      <div class="left-card">
        <div class="menu-title">Contenue</div>
        <ul>
          <li>Indicateurs démographiques</li>
          <li>Indicateurs socio-économiques</li>
          <li class="separator"></li>
          <li>Indicateurs liés au logement / habitat</li>
        </ul>
      </div>

      <div class="graph-area">
        <h2>Données API</h2>
        <!-- <pre>{{ logements | json }}</pre> -->
        <table>
          <tr>
            <th>ID</th>
            <th>Nombre logements</th>
            <th>Construction</th>
          </tr>
          <tr *ngFor="let logement of logements">
            <td>{{logement.id}}</td>
            <td>{{logement.nombreLogement}}</td>
            <td>{{logement.construction}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>

<footer class="site-footer">
  © 2026 Observatoire du Logement Social – Données publiques
</footer>